<!DOCTYPE html>
<html lang="id">
<head>
    {% include 'fragments/head.html' %}
</head>
<body>

    {% include 'fragments/navbar.html' %}
    
    <!-- FITUR UTAMA -->
    <div class="container mt-4">
        <h2 class="text-center fw-bold mb-4">Fitur Utama Chili AI</h2>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="feature-box">
                    <h5><strong>Login & Register</strong></h5>
                    <p>Sistem autentikasi user.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <h5><strong>Upload Gambar</strong></h5>
                    <p>Unggah gambar daun & buah cabai.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <h5><strong>Deteksi Penyakit</strong></h5>
                    <p>Analisis AI untuk penyakit cabai.</p>
                </div>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col-md-4">
                <div class="feature-box">
                    <h5><strong>Rekomendasi Pengobatan</strong></h5>
                    <p>Saran pestisida & perawatan.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <h5><strong>Riwayat Deteksi</strong></h5>
                    <p>Melihat hasil deteksi sebelumnya.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <h5><strong>Dashboard Visualisasi</strong></h5>
                    <p>Diagram perbandingan data.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-5 mb-5">
        <iframe src="http://localhost:8501" width="50%" height="800px" style="border: none;"></iframe>
    </div>


    {% include 'fragments/footer.html' %}

</body>
</html>
